<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block Titulo %} {% endblock %} </title>  
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}"> 
    <script src="{{url_for('static', filename='js/validaciones.js')}}"></script>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <nav class="navbar fixed-top navbar-expand-lg" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">CinePlus</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" >
                            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Cartelera</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Estrenos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Próximamente</a>
                        </li>
                        
                        </ul>
                        <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        &nbsp;
                        &nbsp;
                      
                      {% if g.user %}

                        <li><span>{{ g.user['usuario'] }}</span>
                        <li><a href="/logout">Logout</a>
                        
                          
                      {% else %}
                        <form class="d-block" role="button" action="/login">
                        <button class="btn btn-outline-success" data-bs-toggle="modal" type="submit">Ingresar</button>                 
                        </form>
                        &nbsp;
                        &nbsp;

                        <form class="d-block" role="button" action="/login">
                          <button class="btn btn-outline-success" data-bs-toggle="modal" type="submit">Registrarse</button>                 
                          </form>
                      {% endif %}




                        
                    </div>
                </div>
                
            </nav>
        </div>
    </div><br><br><br>


{% block contenido %} {% endblock %}
<br>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" >
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Siguenos en las redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a target="_blank" href="https://www.facebook.com" class="me-4 text-reset">
          <i >
            <img width="35" height="35"  src="https://cdn4.iconfinder.com/data/icons/social-media-and-logos-12/32/Logo_facebook-128.png" alt="">
          </i>
        </a>
        <a target="_blank" href="https://www.instagram.com" class="me-4 text-reset">
          <i>
            <img width="35" height="35"  src="https://cdn0.iconfinder.com/data/icons/phosphor-thin-vol-3/256/instagram-logo-thin-128.png" alt="">
          </i>
          
        </a>
        <a target="_blank" href="https://www.twitter.com" class="me-4 text-reset">
          <i >
            <img width="35" height="35"  src="https://cdn4.iconfinder.com/data/icons/social-media-and-logos-12/32/Logo_Twitter_bird-128.png" alt="">
          </i>
        </a>
        
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-4">
            <!-- Content -->
            <h2 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>CinePlus
            </h2>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="text-align: center;">Contáctenos</h6>
            
            <p>
              <i class="fas fa-envelope me-3"></i>
              <img style="text-align: left;" src="images/mail.png" alt="">
              info@cineplus.com
            </p>
            <p><i class="fas fa-phone me-3"></i>
              <img width="42" height="42" src="https://cdn3.iconfinder.com/data/icons/webdesigncreative/free_icons_64x64_png/Tele-phone.png" alt="">
              + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> 
              <img width="42" height="42" src="https://cdn3.iconfinder.com/data/icons/webdesigncreative/free_icons_64x64_png/Tele-phone.png" alt="">
              + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Links -->
            
            <h6 style="text-align: center;">
              <i class="fas fa-gem me-3"></i>¿Quienes somos?
            </h6>
            <p style="text-align: justify;">Somos una empresa Colombiana con el objetivo de crear 
              un verdadero valor al entretenimiento, comodidad y diversion
              para sus clientes. CinePlus fue fundada en 2022 y su vision es 
              ser la empresa lider en la industria de la cinematografia y el entretenimiento
              en Colombia.
            </p>
          </div>
          <!-- Grid column -->
  
          
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="">cineplus.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
     

</body>
</html>