{% extends "base.html" %}
{% block Titulo %}
Login
{% endblock %}

{% block contenido %}

    <!-- <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Iniciar sesion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->
        
                
                    <!-- Pills navs -->

                <!-- Pills navs -->

                    <!-- Pills content -->
                    <!-- <div class="tab-content ">
                        <div class="" id="pills-login" role="tabpanel" aria-labelledby="tab-login"> -->
                         <div class="container text-center">
                            
                            <form class="form-horizontal" >
                                
                                <p class="text-center">Sign in with:</p>
                                <div class="form-group">
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                    </button>
                                </div>

                                <p class="text-center">or:</p>

                                    <!-- Email input -->
                                    <div class="form-group">
                                        
                                        <input type="email" id="loginName" class="form-control " />
                                        <label class="form-label col-lg-4" for="loginName">Email or username</label>
                                    </div>

                    <!-- Password input -->
                                    <div class="form-outline col-md-3" style="text-align: center;" >
                                        <input type="password" id="loginPassword" class="form-control" />
                                        <label class="form-label" for="loginPassword">Password</label>
                                    </div>

                                    <!-- 2 column grid layout -->
                                <div class="row mb-4">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <!-- Checkbox -->
                                        <div class="form-check mb-3 mb-md-0">
                                            <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                                            <label class="form-check-label" for="loginCheck"> Remember me </label>
                                        </div>
                                    </div>

                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Simple link -->
                                    <a href="#!">Forgot password?</a>
                                </div>
                                

                                    <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block col-md-3" >Sign in</button>

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>Not a member? <a href="#exampleModalToggle2" data-bs-toggle="modal">Register</a></p>
                                </div>
                            </form>
                        
                        </div>
                       <!-- </div>
                    </div>  -->
              
            <!-- </div>
        </div>
    </div> -->

{% endblock %}