{% extends "base.html" %}
{% block Titulo %}

{% endblock %}
{% block contenido %}

<div class="container">
    <div class="abs-center">
<form action="/loginC" method="post" id="validar">
    {{ form.hidden_tag()}}
    <div class="form-outline mb-4">
        {{form.user.label}}
        <br>
        {{form.user}}
    </div>
    <div class="form-outline mb-4">
        {{form.password.label}}
        <br>
        {{form.password}}
    </div>
    <div class="form-outline mb-4">
        {{form.enviar}}
        {{form.guardar}}
    </div>
    
</form>
</div>
</div>
{% endblock %}